<!DOCTYPE html>
<html>
<head>
    <title>{{ campaign.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
    {% include 'header.html' %}

    <div class="container">
        <h1>{{ campaign.Name }}</h1>
        <p><strong>Country:</strong> {{ campaign.Country }}</p>
        <p><strong>Description:</strong> {{ campaign.Description }}</p>
        <p><strong>Goal:</strong> {{ campaign.Funding_Goal }}</p>

        {% if current_user.is_authenticated %}
            {% if is_subscribed %}
                <form method="POST" action="{{ url_for('unsubscribe', campaign_id=campaign.id) }}">
                    <button type="submit">Unsubscribe</button>
                </form>
            {% else %}
                <form method="POST" action="{{ url_for('subscribe', campaign_id=campaign.id) }}">
                    <button type="submit">Subscribe</button>
                </form>
            {% endif %}
        {% endif %}
    </div>

    {% include 'footer.html' %}
</body>
</html>
