<!-- Header for Change 4 Change -->

<!DOCTYPE html>
<html lang="en">

<!-- These are the required meta tags for proper rendering and encoding -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- The page title that appears in browser tab -->
    <title>Change 4 Change</title>
     <!-- Links to the external stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- The header section that contains the navigation and branding -->
    <header>
        <!-- Main navigation bar -->
        <nav>
            <!-- The Llft side of navigation bar -->
            <div class="nav-left">
                <a href="/" class="home-button">
                    <img src="{{url_for('static', filename='images/logo.webp')}}" alt="Change 4 Change Logo" width="200" height="50">
                </a>
                <ul class="nav-links">
                    <li><a href="search.html">Search</a></li>
                    <li><a href="about.html">Why Change 4 Change</a></li>
                    <li><a href="donate.html">Donate</a></li>
                    <li><a href="/create">Create Campaign</a></li>
                </ul>
            </div>
            <!-- The right side of navigation -->
            <div class="buttons">
                <a href="/donor-login" class="btn-login">Login</a>
                <a href="/donor-registration" class="btn-login">Register</a>
            </div>
        </nav>
    </header>
</body>