<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>

    <header>
        <!-- Main navigation bar -->
        <nav>
            <!-- The Left side of navigation bar -->
            <div class="nav-left">
                <a href="index.html" class="home-button">
                    <img src="images/logo.png" alt="Change 4 Change Logo" width="200" height="50">
                </a>
                <ul class="nav-links">
                    <li><a href="../search.html">Search</a></li>
                    <li><a href="../about.html">Why Change 4 Change</a></li>
                    <li><a href="/donate">Donate</a></li>
                </ul>
            </div>
            <!-- The right side of navigation -->
            <div class="buttons">
                <a href="login.html" class="btn-login">Login</a>
            </div>
        </nav>
    </header>
     
    <h1>Login</h1>
    <p>This is the content of Login.</p>
</body>

</html>
