<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>

    {% include 'header.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="flash {{ category }}">
              {{ message }}
              <button onclick="this.parentElement.style.display='none'">×</button>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="form-container">
      <h1>NGO Login</h1>
      <form action="{{ url_for('ngo_login') }}" method="post" class="login-form">
          {{ form.hidden_tag() }}
  
          <div class="form-box">
              {{ form.username.label(class="field-descriptor") }}
              {{ form.username(class="form-input") }}
          </div>
  
          <div class="form-box">
              {{ form.password.label(class="field-descriptor") }}
              {{ form.password(class="form-input") }}
          </div>
          <div class="form-box">
              {{ form.submit(class="submit-button") }}
          </div>
      </form>
    </div>

    {% include 'footer.html' %}

</body>
</html>
