<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- Links to the external stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"> <!-- url_for required to use style sheet with flask-->


<body>
    {% include 'header.html' %} <!-- This is a jinja template that imports header.html into search.html-->
    
    <form id="search-form" name="search-form" action="/search" method="post" enctype="application/x-www-form-urlencoded">
        <h1>Search Campaigns</h1>
        <div class="search-container">
            <label class="field-descriptor"></label>
            <input type="text" required maxlength="250" class="form-input" id="search-query" name="search-query">
            <button type="submit" class="submit-button">Search</button>
        </div>
    </form>
    {% include 'footer.html' %} <!-- This is a jinja template that imports footer.html into search.html-->
</body>

</html>